{% extends 'base.html' %}

{% block content %}
    {{ super() }}

    <h1>{{ users.surname }} {{ users.last_name }}</h1>
    <ul>
        {% for book in books %}
            <li> Название:<a href="/book/{{ book.id }}"> {{ book.title }},</a> Год выпуска: {{ book.year_created }}</li>
        {% endfor %}
    </ul>
    {% if current_user.is_authenticated %}
        {% if current_user.permission == 'admin' or current_user.id == users.id %}
    <a href="{{ url_for('delete_author', id_user=users.id)}}" class="btn">Удалить</a>
    <a href="/authors/{{ users.id }}/upd">Обновить</a>
        {% endif %}
    {% endif %}
{% endblock %}