{% extends 'base.html' %}

{% block content %}
    {{ super() }}

    <p>Год выпуска: {{ books.year_created }}</p>
    <ul>
        {% for author in authors %}
            <li><a href="/authors/{{ author.id }}"> {{ author.last_name }} {{ author.surname }}</a></li>
        {% endfor %}
    </ul>
    {% if current_user.is_authenticated %}
        {% if current_user.permission == 'admin' or current_user.id in author_ids %}
            <a href="{{ url_for('delete_book', id_book=books.id)}}" class="btn">Удалить</a>
            <a href="/book/{{ books.id }}/upd">Обновить</a>
        {% endif %}
    {% endif %}
{% endblock %}