<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
	{%- block mainmenu -%}
    <ul class="mainmenu">
        {% for p in menus %}
            <li><a href="{{p.url}}">{{p.title}}</a></li>
        {% endfor %}
    </ul>
	{% endblock mainmenu -%}
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    {% if current_user.is_authenticated %}
        <h1>Добро пожаловать в библиотеку, {{ current_user.surname }}!</h1>
    {% else %}
        <h1>Добро пожаловать в библиотеку</h1>
    {% endif %}
</body>
</html>