<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	{%- block mainmenu -%}
    <ul class="mainmenu">
        {% for p in menus %}
            <li><a href="{{p.url}}">{{p.title}}</a></li>
        {% endfor %}
    </ul>
	{% endblock mainmenu -%}
    <h1>Добро пожаловать в личный кабинет, {{ current_user.surname }}</h1>
    <form method = "POST" action="/add-book" >
    <label for="title">Название книги:</label>
    <input type="text" name="title">
    <label for="title">Год выпуска:</label>
    <input type="number" min="1000" max="2099" step="1" name="year_created">
        <button type="submit">Add book</button>
        </form>
<p><a href="{{ url_for('logout') }}">Выход</a></p>
</body>
</html>