<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	{%- block mainmenu -%}
    <ul class="mainmenu">
        {% for p in menus %}
            <li><a href="{{p.url}}">{{p.title}}</a></li>
        {% endfor %}
    </ul>
	{% endblock mainmenu -%}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li class="{{ message.category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="/register" method="post">
    <p><label>Email:</label><input type="text" name="email" value="" requied /></p>
    <p><label>Имя:</label><input type="text" name="surname" value="" requied /></p>
    <p><label>Фамилия:</label><input type="text" name="last_name" value="" requied /></p>
    <p><label>Пароль:</label><input type="password" name="password" value="" requied /></p>
    <p><label>Повтор пароля:</label><input type="password" name="password2" value="" requied /></p>
    <p><input type="submit" value="Регистрация" />
</form>
</body>
</html>