{% extends 'base.html' %}

{% block content %}
    {{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form class="register-form" action="/register" method="post">
    <p>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="" required />
    </p>
    <p>
        <label for="surname">Имя:</label>
        <input type="text" id="surname" name="surname" value="" required />
    </p>
    <p>
        <label for="last_name">Фамилия:</label>
        <input type="text" id="last_name" name="last_name" value="" required />
    </p>
    <p>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" value="" required />
    </p>
    <p>
        <label for="password2">Повтор пароля:</label>
        <input type="password" id="password2" name="password2" value="" required />
    </p>
    <p>
        <input type="submit" value="Регистрация" />
    </p>
</form>
{% endblock %}