{% extends 'base.html' %}

{% block content %}
    {{ super() }}
<form method = "POST" >
<h1>Редактирование автора</h1>
    <label for="title">email:</label>
    <input type="text" name="email" value="{{ users.email }}">
    <label for="title">Surname:</label>
    <input type="text" name="surname" value="{{ users.surname }}">
    <label for="title">Last Name:</label>
    <input type="text" name="last_name" value="{{ users.last_name }}">
    <button type="submit">Обновить</button>
</form>
{% endblock %}