html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

a {
	color: #0059b2;
	text-decoration: none;
}
a:hover {
	color: #CC0000;
	text-decoration: underline;
}

.clear {clear: both;}

ul.mainmenu {
	list-style: none;
	background: #3F4137;
	height: 60px;
	margin: 0;
	padding: 0;
	color: #fdc073;
	font-size: 20px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 50px;
}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #fdc073;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #FDA83D;
}

div.content {
	margin: 10px;
}

.form-contact label {
	display: inline-block;
	min-width: 80px;
}
.form-contact p {margin: 10px 0 10px 0;}
.form-contact input[type=submit], textarea {
	font-size: 16px;
}

.flash {padding: 10px;}
.flash.success {
	border: 1px solid #21DB56;
	background: #AEFFC5;
}
.flash.error {
	border: 1px solid #FF4343;
	background: #FF9C9C;
}


.book-list {
    list-style: none;
    padding: 0;
}

.book-item {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.book-item a {
    text-decoration: none;
    color: #333;
}

.authors {
    font-style: italic;
    color: #666;
}

.author-list {
    list-style: none;
    padding: 0;
}

.author-item {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.author-item a {
    text-decoration: none;
    color: #333;
}

.author-books {
    font-style: italic;
    color: #666;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.login-form p {
    margin: 10px 0;
}

.login-form label {
    display: block;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.login-form input[type="checkbox"] {
    margin-right: 5px;
}

.login-form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-form a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.register-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.register-form p {
    margin: 10px 0;
}

.register-form label {
    display: block;
    font-weight: bold;
}

.register-form input[type="text"],
.register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.register-form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.register-form input[type="submit"]:hover {
    background-color: #0056b3;
}


.dropdown-checkbox{
  position:relative;
  display:inline-block
}

.dropdown-checkbox .label-title{
  font-size:17px;
  border: 1px solid #000;
  padding: 2px;

}
.dropdown-checkbox ul{
     position: absolute;
    background: #cacaca;
    list-style: none;
    min-width: 180px;
    margin: 0px;
    padding:0px;
    left:0px;
    display:none;
    z-index:1;
    border: 1px solid #9c9c9c;
}
.dropdown-checkbox ul li{
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid #a5a5a5;
    margin: 0px;
}
.dropdown-checkbox ul li input{
  margin-right:10px;
}

.dropdown-checkbox:hover ul{
  display:block
}